<div class="surface-card shadow-3 border-round p-4 mt-4 w-25rem">
    <div class="text-center mb-3">
        <img src="assets/csa/logo.png" alt="Image" height="50" class="mb-3">
        <div class="text-900 text-3xl font-medium mb-5">Grupo Gabriela</div>
    </div>


    <div class="flex flex-column">
        <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-envelope" />
            <input pInputText type="text" placeholder="Correo" class="w-full mb-3" />
        </p-iconField>
            
        <p-password [inputStyle]="{'width': '100%'}" [style]="{'width': '100%'}"  class="mb-3" [toggleMask]="true" placeholder="Contraseña" />
       
            <div class="flex flex-column mb-5">
                <a class="font-medium no-underline text-blue-500 cursor-pointer flex justify-content-end flex-wrap" routerLink="/auth/register">Crear cuenta </a>
                <a class="font-medium no-underline text-blue-500 cursor-pointer flex justify-content-end flex-wrap" routerLink="/auth/recovery">Olvidaste tu contraseña?</a>
            </div>
        
        <p-button label="Ingresar" [rounded]="true" icon="pi pi-user" class="flex justify-content-center"
            (click)="login()"></p-button>
    </div>
</div>

